//!222
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            PAGINA PRINCIPAL
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="titulo">Formulario ingreso de datos
        <ion-icon name="contact"></ion-icon>
    </div>
    <div class="contenido"></div>
    <form [formGroup]="persona" (ngSubmit)="grabar()">
        <ion-item>
            <ion-label position="floating">Rut : </ion-label>
            <ion-input formControlName="elRut"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nombre completo: </ion-label>
            <ion-input formControlName="elNombreCompleto"></ion-input>

        </ion-item>
        <ion-item>
            <ion-label position="floating">Edad: </ion-label>
            <ion-input formControlName="laEdad"></ion-input>


        </ion-item>
        <ion-button color="success" type="submit">Grabar</ion-button>
        <ion-button color="primary" routerLink="/pagina1">Listar</ion-button>

    </form>

    <ion-label>Listado</ion-label>
</ion-content>